.dynamicH {
    color: rgb(255, 0, 128);
    animation-name: dynColor;
    animation-duration: 100s;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: black;
}
@keyframes dynColor {
    from {color: rgb(255, 0, 128);}
    to {color: rgb(242, 0, 255);}
}
body {
    background-color: rgb(237, 152, 215);
}